.foo {
  color: rgba(255, 128, 128, 1);
  background: rgba(128, 64, 191, 1) url("../img/bg.png") repeat-x;
  box-shadow:
    0 0 5px 3px rgba(73, 182, 0, 0.84),
    0 0 5px 6px rgba(0, 234, 0, 0.84),
    0 0 5px 10px rgba(255, 255, 0, 0.6);
}

.foo {
  color: rgba(153, 26, 26, 1);
  border: 1px solid rgba(255, 128, 128, 1);
  background-color: rgba(153, 153, 153, 1);
}

.foo {
  width: rgba(255, 255, 255, 1) + rgba(255, 0, 0, 0.5);
}
